__pycache__/
*.py[cod]

.env
backend/.env
backend/.gemini_cache.json

tf_env/
.venv/
venv/

node_modules/
frontend/node_modules/

dist/
frontend/dist/

model_training/dataset/
model_training/food-101/
model_training/kaggle.json

backend/saved_model/*.keras
backend/saved_model/*.h5
!backend/saved_model/class_names.txt